<div class="box">
    <h1 style="text-align: center;margin-top: 50px;">Carrito: </h1>
    {{#if isValid}}
        {{#each payload}}
            <div class="cart-product-card">
                <div class="product-info">
                    <h2>{{this.title}}</h2>
                    <p>Price: ${{this.price}}</p>
                </div>
                <div class="quantity">
                    <span>Cantidad: {{this.quantity}}</span>
                </div>
                <div class="botton-remove">
                    <span onclick="removeProduct('{{this.cart_id}}','{{this._id}}')">X</span>
                </div>
            </div>
        {{/each}}
        {{#if user_cart_id}}
            <a href="/api/carts/{{user_cart_id}}/purchase" class="button-home">Comprar</a>
        {{/if}}
    {{else}}
       <h2>Carrito Vacio</h2>
    {{/if}}
    <a href="/home" class="button-home">Volver al inicio</a>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>