<div class="navbar">
    <a href="/logout">Logout</a>
</div>
<div class="box" style="margin-top: 20px;">
    <h1>Bienvenido!</h1>
    <div class="box">
        {{#if user.first_name}}
            <p><b>Nombre:</b> {{user.first_name}}</p>
        {{/if}}
        {{#if user.last_name}}
            <p><b>Apellido:</b> {{user.last_name}}</p>
        {{/if}}        
        {{#if user.email}}
            <p><b>Email:</b> {{user.email}}</p>
        {{/if}}
        {{#if user.role}}
            <p><b>Rol:</b> {{user.role}}</p>
        {{/if}}
       
    </div>
    <div class="user-options" style="display: flex;width:100%;gap:20px;justify-content:center">
        <a href="/files" class="button-home">Subir Archivos</a>
        <a href="/views/products" class="button-home">Ver Productos</a>
        <a href="/carts/{{cart_id}}" class="button-home">Ver Carrito</a>
        <a href="/api/users/premium/{{user._id}}" class="button-home">Cambiar Rol</a>
    </div>
</div>

	