<div class="navbar">
    <a href="/logout">Logout</a>
</div>
<div class="box" style="margin-top: 20px;">
    <h1>Bienvenido!</h1>
    <div class="box">
        {{#if user.first_name}}
            <p><b>Nombre:</b> {{user.first_name}}</p>
        {{/if}}
        {{#if user.last_name}}
            <p><b>Apellido:</b> {{user.last_name}}</p>
        {{/if}}        
        {{#if user.email}}
            <p><b>Email:</b> {{user.email}}</p>
        {{/if}}
        {{#if user.role}}
            <p><b>Rol:</b> {{user.role}}</p>
        {{/if}}
        <form class="users-form" action="/api/sessions/{{user._id}}/documents" method="POST" enctype="multipart/form-data">
            <label for='file'>Select your image:</label>
            <input type='file' multiple='multiple' accept='image/*' name='documents' id='file' />
            <span class='hint'>Supported files: jpg, jpeg, png.</span>
            <button type='submit'>Upload</button>
        </form>
    </div>
    <a href="/views/products" class="button-home">Ver Productos</a>
    <a href="/carts/{{cart_id}}" class="button-home">Ver Carrito</a>
</div>

	