<div class="navbar">
    <a href="/home">Ver Perfil</a>
    <a href="/carts/{{cart_id}}">Ver Carrito</a>
    <a href="/logout">Logout</a>
</div>
<div class="box">
    <h1 style="text-align: center">Productos: </h1>
    {{#if isValid}}
        <div id="productos">
            {{#each docs}}
                <div class="product-card" onclick="viewDetails('{{this._id}}')" style="cursor: pointer;">
                    <h2>{{this.title}}</h2>
                    {{#if this.image}}
                        <div id="product-image"><img src="{{this.image}}" alt="Imagen del producto"></div>
                    {{/if}}
                    <p>{{this.description}}</p>
                    <p>Precio: ${{this.price}}</p>
                </div>
            {{/each}}
        </div>
        <div class="paginacion">
            <div>
                {{#if hasPrevPage}}
                    <a href="{{this.prevLink}}"><< Anterior</a>
                {{/if}}
            </div>
            <div>
                {{#if hasNextPage}}
                    <a href="{{this.nextLink}}">Siguiente >></a>
                {{/if}}
            </div>
        </div>
    {{else}}
       <h2>No hay productos para mostrar</h2>
    {{/if}}
</div>

<script>
    function viewDetails(id) {
        const url = `/views/products/${id}`;
        window.location.href = url;
    }
</script>

