{{#each payload}}
    <div class="product-card">
        <div class="product-card">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>Price: ${{this.price}}</p>
            <p>Category: {{this.category}}</p>
            <p>Code: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
        </div>
    </div>
{{/each}}