<h1 style="text-align: center;">Real Time Products</h1>

<div class="formulario-contenedor">
    <h2 style="margin-top: 40px;">Agregue su producto acá</h2>
    <h3 style="margin-top: 30px;">Los productos agregados se encuentran abajo</h3>
    <form class="formulario" action="/api/products" method="POST" enctype="multipart/form-data">
        <label for="title">Nombre</label>
        <input type="text" id="title" name="title" placeholder="Nombre del producto" required>

        <label for="description">Descripción</label>
        <input type="text" id="description" name="description" placeholder="Descripción del producto" required>

        <label for="price">Precio</label>
        <input type="number" id="price" name="price" placeholder="Precio del producto" required>

        <label for="product-file">Subir imagen del producto</label>
        <input type="file" accept="image/*" name="product" id="product-file" required>

        <label for="category">Categoría</label>
        <input type="text" id="category" name="category" placeholder="Categoría" required>

        <label for="code">Código</label>
        <input type="text" id="code" name="code" placeholder="Código" required>

        <label for="stock">Stock</label>
        <input type="number" id="stock" name="stock" placeholder="Stock del producto" required>

        <!-- Campo oculto para enviar el email del owner -->
        <input type="hidden" name="owner" value="{{email}}">

        <button type="submit" id="submit-button">Agregar</button>
    </form>
</div>



<div id="productos" data-email='{{email}}'>
    {{#each products}}
        <div class="product-card">
            <h3>{{this.title}}</h3>
            <hr>
            <p>Categoria: {{this.category}}</p>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: $ {{this.price}}</p>
            <p>Dueño: {{this.owner}}</p>
            <button id="button-delete" data-email='{{email}}' onclick="deleteProduct('{{this._id}}')">Eliminar</button>
        </div>
    {{/each}}
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>
